<h3 data-i18n="New_Group_Chat"></h3>
<div class="form-horizontal">
  <form id="new_talk_form">
  <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc_room" data-i18n="Group_Chat"></label>
      <div class="col-sm-8">
         <input type="text" name="room" id="jsxc_room" class="form-control" autocomplete="off"
                pattern="^[^\x27\x22&'\\\/:,;!\?<>@\s\u00C0-\u017F]+" autofocus />
      </div>
   </div>
  <div class="form-group">
      <label class="col-sm-4 control-label" for="jsxc_subject" data-i18n="Reason"></label>
      <div class="col-sm-8">
         <input type="text" name="subject" id="jsxc_subject" class="form-control" autocomplete="off" />
      </div>
   </div>
  <div class="jsxc_msg"></div>
  <br/>
   <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
         <span class="jsxc_warning"></span>
         <button class="btn btn-default jsxc_close" data-i18n="Close"></button>
         <button class="btn btn-success jsxc_confirm" data-i18n="Confirm"></button>
      </div>
   </div>
  </form>
</div>