<div id="silverchat_roster">

  <!-- the roaster's header (the title bar) -->
  <div id="silverchat_roster_header" class="silverchat_roster_toggle">
    <span class="silverchat_logo"></span>
    <div id="silverchat_notice">
      <span></span>
    </div>
  </div>

  <!-- the roaster's body (its content) -->
  <div id="silverchat_roster_body">

    <!-- two tabs: one listing the buddies of the connected user, another listing the group chats -->
    <div id="silverchat_roster_tabs">
      <a id="silverchat_buddies_filter" data-i18n="Buddies"></a>
      <a id="silverchat_groupchats_filter" data-i18n="Group Chats"></a>
      <span id="silverchat_roster_menu_toggle"></span>
    </div>

    <!-- the content of the active tab -->
    <div id="silverchat_roster_content">

      <!-- first, the content of the roaster menu overrides the content of the active tab -->
      <div id="silverchat_roster_menu" class="silverchat_roster_content jsxc_state_hidden">
        <div class="silverchat_title" data-i18n="Menu"></div>
        <span id="search_user" class="silverchat_menu_item" data-i18n="Search_user"></span>
        <div class="jsxc-content-separator"></div>
        <span id="new_talk" class="silverchat_menu_item jsxc_disabled" data-i18n="New_Group_Chat"></span>
      <!--  <span id="invite_talk" class="silverchat_menu_item jsxc_disabled" data-i18n="Invite_To_Group_Chat"></span> -->
        <div class="jsxc-content-separator"></div>
        <div class="silverchat_title" data-i18n="Events"></div>
        <div id="jsxc_notice">
          <span></span>
          <div class="jsxc_inner">
            <ul class="silverchat_menu_item"></ul>
          </div>
        </div>
      </div>

      <!-- jsxc renders into a single container both the buddies and the connected groupchats -->
      <div id="silverchat_roster_chats" class="silverchat_roster_content">
        <ul id="jsxc_buddylist"></ul>
      </div>
    </div>

  </div>

  <div id="silverchat_roster_footer" class="jsxc_bottom jsxc_presence jsxc_rosteritem" data-bid="own">
    <div id="jsxc_presence">
      <span data-i18n="Offline">Offline</span>
      <div class="jsxc_inner">
        <ul>
          <li data-pres="online" class="jsxc_online" data-i18n="Online"></li>
          <li data-pres="chat" class="jsxc_chat" data-i18n="Chatty"></li>
          <li data-pres="away" class="jsxc_away" data-i18n="Away"></li>
          <li data-pres="xa" class="jsxc_xa" data-i18n="Extended_away"></li>
          <li data-pres="dnd" class="jsxc_dnd" data-i18n="dnd"></li>
          <li data-pres="offline" class="jsxc_offline" data-i18n="Offline"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
